/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Funnel Sans", Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: 900;
}

p {
  font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}

/* Styling for the nav bar */

nav {
  background-color: #fff;
  color: #001f3f;
  padding: 0.9rem;
  border-bottom: 0.1rem solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 5rem;
}

nav ul {
  justify-content: center;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  color: #001f3f;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #ff5630;
  color: #fff;
}

nav ul li a.active {
  background-color: #7b210d;
  color: #fff;
}

nav .logo img {
  height: 3.125rem;
}

/* Responsive design for the nav bar */

@media only screen and (max-width: 550px) {
  nav ul {
    gap: 0.2rem;
  }
}

@media only screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
  }
  nav {
    height: 7rem;
  }
}

/* Styling for the call to action masthead */

.CallToAction {
  padding: 2rem;
  background-color: #f4f4f4;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  background-image: url("./images/building_the_future_1.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: 5rem auto 0 auto;
  border-radius: 0 0 0.5rem 0.5rem;
}

.CallToAction h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.CallToAction button {
  padding: 0.5rem 1rem;
  background-color: #ff5630;
  color: #fff;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
  transition: background-color 0.3s;
}

.CallToAction button:hover {
  background-color: #6d6d6d;
}

.CallToAction button:active {
  background-color: #001f3f;
}

/* Responsive design for the call to action */

@media only screen and (max-width: 1210px) {
  .CallToAction {
    border-radius: 0;
  }
}

@media only screen and (max-width: 650px) {
  .CallToAction h1 {
    font-size: 1.5rem;
  }
  .CallToAction {
    margin-top: 5rem;
    padding: 1rem;
    min-height: 30rem;
  }
  .CallToAction h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .CallToAction {
    margin-top: 7rem;
  }
}

/* styling for the products section */

.products {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.products .product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.product {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 50%;
  text-align: center;
  transition: transform 0.3s;
}
.product img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.25rem;
}
.product h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.product p {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  text-align: left;
}

/* Responsive design for the products section */

@media only screen and (max-width: 1250px) {
  .products {
    padding: 2rem 1rem;
  }
  .products .product-container {
    gap: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .products {
    padding: 2rem 1rem;
  }
  .products .product-container {
    flex-direction: row;
    align-items: center;
  }
  .product {
    width: 50%;
    padding: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .products {
    padding: 2rem 1rem;
  }
  .products .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product {
    width: 100%;
  }
}

/* Styling for the about story section */

.about {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  align-items: center;
}
.about .story img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.25rem;
}
.about .story {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about .story-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.about .story-text h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
.about .story-text p {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  text-align: left;
}

/* Responsive design for the about story section */

@media only screen and (max-width: 1024px) {
  .about {
    padding: 1rem;
  }
  .about .story {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
  .about .story-text {
    width: 50%;
  }
  .about .story img {
    width: 50%;
  }
  .about .story-text h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 650px) {
  .about {
    padding: 1rem;
  }
  .about .story {
    flex-direction: column;
    align-items: center;
  }
  .about .story-text {
    width: 100%;
  }
  .about .story img {
    width: 100%;
  }
  .about .story-text h2 {
    font-size: 1.2rem;
  }
}

/* Styling for the about team section */

.about .team {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}
.about .team .team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 (1rem * 3);
}
.about .team .team-container img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.25rem;
}
.about .team h3 {
  font-size: 1.5rem;
  padding: 0 0 2rem 0;
  margin: 0;
}
.about .team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .team-member h4 {
  font-size: 1.1rem;
  margin: 1rem 0 0 0;
}
.about .team-member p {
  font-size: .75rem;
  margin: 0.5rem 0.5rem;
  text-align: center;
}

/* Responsive design for the about team section */

@media only screen and (max-width: 1024px) {
  .about .team .team-container {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .about .team {
    padding: 1rem;
  }
  .about .team .team-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Styling for the footer */

footer {
  background-color: #001f3f;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
footer p {
  font-size: 1rem;
}